body {
    background-color: rgb(120, 120, 120);
}

.slider {
    position: relative;
    width: 70vh;
    margin: auto;
    margin-top: 3.5vh;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 1vh 1.5vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}